Repository sheerLi/vue-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

ci: 限制node版本
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

chore(package.json): install commitizen
  package.json
  pnpm-lock.yaml
Due: none

chore(ignore file): update ignore file
  .eslintignore
  .gitignore
  .prettierignore
Due: none

feat(.env): add .env files
  .env.development
  .env.production
  .env.staging
Due: none

ci(vite.config.ts): update vite.config.ts
  vite.config.ts
Due: eslint

ci(docker): add Dockerfile & nginx.conf
  Dockerfile.production
  Dockerfile.staging
  Makefile
  nginx.conf
  package.json
Due: none

chore(package.json): add @/types/node
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
Due: none

feat(all): 完善 src 文件组织架构
  src/App.vue
  src/containers/.gitkeep
  src/hooks/.gitkeep
  src/libs/.gitkeep
  src/main.ts
  src/pages/.gitkeep
  src/router/.gitkeep
  src/services/.gitkeep
  src/store/.gitkeep
  src/utils/.gitkeep
Due: eslint, stylelint

feat(router): add vue-router
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/main.ts
  src/pages/.gitkeep
  src/pages/home.vue
  src/router/.gitkeep
  src/router/index.ts
Due: eslint, stylelint

fix(.npmrc): update registry
  .npmrc
Due: none

chore(all): 重构初始化项目目录
  .commitlintrc.cjs
  .env.development
  .env.production
  .env.staging
  .eslintrc.cjs
  .eslintrc.js
  .gitignore
  .lintstagedrc
  .nvmrc
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile.production
  Dockerfile.staging
  Makefile
  components.d.ts
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/assets/tailwind.css
  src/components/hello-world.vue
  src/containers/.gitkeep
  src/hooks/.gitkeep
  src/libs/.gitkeep
  src/main.ts
  src/pages/home.vue
  src/router.ts
  src/services/.gitkeep
  src/services/axios.ts
  src/store/.gitkeep
  src/store/user.ts
  src/utils/.gitkeep
  src/utils/bom.ts
  src/utils/humps.ts
  stylelint.config.cjs
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: eslint, stylelint

docs(readme.md): 更新 README
  .eslintignore
  README.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
